
server {
    listen 443 ssl;
    server_name oss.laiyue.link;
    access_log  /usr/share/nginx/logs/ssl.oss.laiyue.link.access.log  main;

    charset utf-8;

    ssl_certificate   /etc/nginx/cert/*.laiyue.link/fullchain.cer;
    ssl_certificate_key /etc/nginx/cert/*.laiyue.link/privkey.key;

    ssl_session_timeout 5m;
    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;

    include /etc/nginx/module.d/real_ip.conf;
    include /etc/nginx/module.d/header.conf;
    #proxy_set_header Host $host;
    #include /etc/nginx/module.d/baidu_test.conf;
    location / {
        proxy_pass http://test_linkserver;
        access_log  /usr/share/nginx/logs/ssl.oss.laiyue.link.access.log  main;
        #access_log /usr/share/nginx/logs/ssl.api.laiyue.link.access.data.log  postdata;
    }
    include /etc/nginx/module.d/cache_test.conf;
    include /etc/nginx/module.d/image.conf;
    location ~ ^/(\.user.ini|\.htaccess|\.git|\.svn|\.project|LICENSE|README.md)
    {
        return 404;
    }
    location /uploads/common/2020/0602/OSOSSFAP202006022220220229001008.apk {
      rewrite ^(.*) https://laiyue-static.oss-cn-qingdao.aliyuncs.com/apk/ly_driver_test.apk permanent;
    }

    location /uploads/common/2019/0426/OSOSSFAP201904262220220229000008.apk {
      rewrite ^(.*) https://laiyue-static.oss-cn-qingdao.aliyuncs.com/apk/ly_test.apk permanent;
    }

    error_page 404 /404.html;
        location = /etc/nginx/html/40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /etc/nginx/html/50x.html {
    }
}